# MariaDB database server configuration file.
#
# You can use this file to overwrite the default configuration
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
# table_definition_cache = 2048
# innodb_buffer_pool_size = 6G
# innodb_log_file_size = 1536M
# innodb_log_buffer_size = 256M

innodb_buffer_pool_size=2G  
innodb_log_file_size=512M  
read_rnd_buffer_size=16K  
read_buffer_size=256K  
wait_timeout=3600 